body {
    font-family: 'Open Sans';
    height: 100%;
}

html {
  height: 100%;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.slidecontainer {
  width: 80%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 25px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

input[type=range]{
  pointer-events: none;
}
input[type=range]::-webkit-slider-thumb{/*Webkit Browsers like Chome and Safari*/
  pointer-events: auto;
}
input[type=range]::-moz-range-thumb{/*Firefox*/
  pointer-events: auto;
}
input[type=range]::-ms-thumb{/*Internet Explorer*/
  pointer-events: auto;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  border-radius: 25px;
  width: 25px; 
  height: 25px; 
  background: linear-gradient(to right, #6ACCCB, #6ACB9A);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: linear-gradient(to right, #6ACCCB, #6ACB9A); 
  cursor: pointer; 
}

.audio-player-timescale {
     margin-top: 1em;
}
.audio-player {
    margin-top: 7em;
}

.audio-player-btn {
    margin-top: 5em;
}

.audio-player-btn button {
    background: linear-gradient(to right, #6ACCCB, #6ACB9A); 
    color: #fff;
    border:none;
    padding:1em;
    border-radius: 50%;
    width: 4em;
    font-size: 1em; 
    height: 4em; 
}

.audio-player-header {
    text-align: center;
    
}

.audio-player-header-title {
    margin-top: 3em;
    font-size: 4.5vh;
    margin-bottom: 1em;
}

.audio-player-header-description {
    margin-top: 0.3em;
    font-size: 3.6vh;
    color:#7d7d7d;
    font-weight: 300;
}

.fa-star:hover{
    cursor: pointer;
}

.rating {
    margin-bottom: .5rem;
}

.rating > i:hover:before{
    margin-bottom: .5rem;
}

.book-search-back-btn{
    border:none;
    background-color: #fff;
    font-size: 2em;
}

.book-search-back-btn:hover{
    color: #ff7d21;

}

.book-search-header {
    font-size: 1.5em;
    padding:1em;
}

.book-search-header h2 {
    font-weight: 900;
    font-size: 1.5em;
}

.book-search-header h4 {
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
}

.login-form {
    width: 100%;
    max-width: 24em;

}

.login-form-username {
    
}

.login-form-password {
    
}

.login-form-submit {
    padding:0.9em 4em 0.9em 4em;
    font-size: 0.8em;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(to right, #6ACCCB, #6ACB9A);
    border: 0px solid #404040;
    border-radius: 0.1em;
    margin-left: 1em;
    opacity: 0.8;
    transition: 0.2s;
}

.login-form-submit:hover {
    opacity: 1;
    background: linear-gradient(to left,#6ACCCB,#6ACB9A);
    color: #FFFFFF;
}

.blue-bg {
    background: linear-gradient(to right, #6ACCCB, #6ACB9A);
}

.white-bg {
    background:#fff;
}

.orange-blue-bg {
    background: linear-gradient(to right, #ff7d21, #6ACB9A);
}

.search-showmore-btn {
    border:none;
    color: white;
    font-size: 2vh;
    padding: 1em;
}

.uploads-btn {
    border:none;
    color: white;
    font-size: 0.7em;
    padding: 1em;
    border-radius: 25px;
    margin-left: 2em;
}

.upload-btn {
    border:none;
    color: white;
    font-size: 0.7em;
    padding: 1em;
    border-radius: 25px;
}

.upload-btn {
    border:none;
    color: white;
    font-size: 0.7em;
    padding: 1em;
    border-radius: 25px;
}

.blue-btn {
    border-radius: 20px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    background: #6ACB9A;
    background: linear-gradient(145deg, #71d9a5, #5fb78b);
    box-shadow:  12px 12px 23px #5aad83, 
             -12px -12px 23px #7ae9b1;
    border:none;
    color:#fff;
}

.blue-font {
    color: #6ACCCB;
}

.orange-bg {
    background: linear-gradient(to right, #FF9900, #FECB9C);
}

.white-bg {
    background: #fff;
}

.showcase-title {
    margin-bottom: 3vw;
}

.showcase-sub-title {
    margin-bottom: 3vw;
}

.search-searchitem-box-icon {
    background-color: #333333;
    color:#fff;
    font-size:2.5em;
    text-align: center;
}

.search-searchitem {
    padding:1rem;
}

.search-searchitem-box-content {
    color:#fff;
    padding: 2em;
    font-size: 2vh;
}

.search-searchitem-box-content p {
    color:#fff;
    line-height: 1em;
    font-size: 2vh;

}

.search-header {
    padding:3em;
    font-size: :2vh;
}

.search-searchbar {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 2vh;
    font-weight: 400;
    line-height: 1.5;
    color: #3a3a3a;
    background-color: #fff;
    border-bottom: 2px solid #999c9e;
    background-clip: padding-box;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: border-color .15s;
}

.search-searchbar-btn {
    height: calc(1.5em + .75rem + 2px);
    color: #757575;
    font-size: 2vh
}

.search-searchbar-btn:hover {
    color: #FD6721;
}

.index-search-bar-btn {
    display: block;
    width: 4vw;
    height: 4vw;
    padding: .375rem .75rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #FD6721;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border-left: none;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    box-shadow: 0 0 0 0;
    outline: none;
}

.index-search-bar-btn:focus {
    color: #495057;
    box-shadow: 0 0 0 0;
    outline: none;
}

.index-search-bar-btn:hover {
    color: #495057;
    box-shadow: 0 0 0 0;
    outline: none;
}

.index-search-bar {
    display: block;
    width: 28vw;
    height: 4vw;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border-right: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
    box-shadow: 0 0 0 0;
    outline: none;
}

.login-showcase {
    background-color: #fff;
    width: 60%;
    height: 30vw;
    padding: 3% 10%;
    text-align: center;
}

.signup-showcase {
    background-color: #fff;
    width: 60%;
    height: 40em;
    padding: 3% 10%;
    text-align: center;
}

.index-showcase {
    background-color: #fff;
    width: 60%;
    height: 30vw;
    padding: 3% 10%;
    text-align: center;
}

.showcase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    height: 90vh;
}

.signup-btn {
    width: 1em;
    height: 0.2em;
    padding:0.9em 4em 0.9em 4em;
    font-size: 0.8em;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(to right,#6ACCCB,#6ACB9A);
    border: 0px solid #404040;
    border-radius: 0.1em;;
    margin-right: 1em;
    opacity: 0.8;
    transition: all 0.3s;
}

.signup-btn:hover {
    opacity: 1;
    background: linear-gradient(to left,#6ACCCB,#6ACB9A);
    color: #FFFFFF;
    
}

.login-btn {
    width: 1em;
    height: 0.2em;
    padding:0.9em 4em 0.9em 4em;
    font-size: 0.8em;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(to right,#FD6721,#FECB6E);
    border: 0px solid #404040;
    border-radius: 0.1em;
    margin-left: 1em;
    opacity: 0.8;
    transition: 0.2s;
}

.login-btn:hover {
    opacity: 1;
    color:#FFFFFF;
}


.sidebar-login-btn {
    padding:0.9em 4em 0.9em 4em;
    font-size: 0.8em;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(to right,#FD6721,#FECB6E);
    border: 0px solid #404040;
    border-radius: 0.1em;
    opacity: 0.8;
    transition: 0.2s;
    margin-bottom: 2em;
    margin-top: 1em;
    width:12em;
}

.sidebar-login-btn:hover {
    opacity: 1;
    color:#FFFFFF;
}

.sidebar-signup-btn {
    padding:0.9em 4em 0.9em 4em;
    font-size: 0.8em;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(to right,#6ACCCB,#6ACB9A);
    border: 0px solid #404040;
    border-radius: 0.1em;
    opacity: 0.8;
    transition: 0.2s;
    margin-bottom: 2em;
    width:12em;
}

.sidebar-signup-btn:hover {
    opacity: 1;
    color:#FFFFFF;
}


.logo {
    letter-spacing: 7px;
    font-weight: 300;
}

.sidebar-search-form {
    flex-flow:row !important;
    justify-content: center !important;
    margin:1.5em;
}

.sidebar-search-item {
    border-radius: 0;
    box-shadow: 0 0 0 0;
    outline: none;
}

.sidebar-search-field {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s
}

.sidebar-search-btn:hover {
    color:none;
    background-color:#FF9900;
    border-color: #FF9900;
}

.sidebar-search-btn:focus {
    color:#fff;
    background-color:#FF9900;
    border-color: #FF9900;
}

.sidebar-search-btn:active {
    color:#fff;
    background-color:#FF9900;
    border-color: #FF9900;
}

.sidebar-search-btn {
    color:#FF9900;
    border-color: #FF9900;
}

.sidebar-search-item:active {
    box-shadow: 0 0 0 0;
    outline: none;
}
.sidebar-search-item:focus {
    box-shadow: 0 0 0 0;
    outline: none;
}

.sidebar-logo {
    color:#ffffff;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.navbar-logo {
    color:#000;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.4em;
     font-weight: 300;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

#sidebar {
    text-align: center;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

#sidebar.active {
   left: 0px;
}


.navbar-white {
    background-color: #fff;
    padding: 1em;
}

.navbar-left {
    margin-left: 0em;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-right {
    margin-right: 0em;
}

#content {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    transition: all 0.3;
   
    transition: all 800ms ease;
}

#menu-svg {
    fill: #000;
}

.toggle-btn:hover #menu-svg {
    fill: #FF9900;
}

.toggle-btn {
    color: #000;
    border-color: #fff;
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 0 0;
}

.toggle-btn:active {
    color: #FF9900;
    border-color: #fff;
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 0 0;
}

.toggle-btn:focus {
    outline: none;
    box-shadow: 0 0 0 0;
}

.toggle-btn:hover {
    color: #FF9900;
    border-color: #fff;
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 0 0;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::click {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


p {
   
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

h1 {
    font-family: 'Open Sans';
    font-size: 3vw;
    font-weight: 400;
    color:      #FD6721;
}

h2 {
    font-family: 'Open Sans';
    font-size: 1.6vw;
    font-weight: 400;
    color:      #333333;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #232323;
    color: #fff;
    
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #232323;
}

#sidebar ul.components {
    padding: 0px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #FF9900;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #343a40;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #FF9900;
}

@media only screen and (max-width: 992px) {
    .book-search-header h2 { font-size: 1em; }
    .book-search-header h4 { font-size: 0.8em; }
    .book-search-back-btn { font-size: 1.6em; }
    .search-searchitem-box-icon { display: none !important  }
    .search-searchitem {padding:0rem;}
    .search-header {padding:0rem; margin-bottom: 2em}
    .login-btn {display: none;}
    .signup-btn {display: none;}
    .index-showcase{flex-basis: 100%; height: 90%; padding: 10% 10%;}
    .login-showcase{flex-basis: 100%; height: 90%; padding: 10% 10%;}
    .signup-showcase{flex-basis: 100%; height: 90%; padding: 10% 10%;}
    .showcase {align-items: flex-start; height: 90vh;}
    .showcase-title {margin-bottom: 1em; font-size: 2.6em;}
    .showcase-sub-title {margin-bottom: 2.5em; font-size:1.3em;}
    .index-search-bar {width: 80%; font-size: 1em; height: 3em;}
    .index-search-bar-btn {width: 3em; font-size: 1em; height: 3em;}

}
