<!-- Nav bar -->
<nav class="navbar-white navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        
        <!-- Side bar toggle button -->
        <div class="navbar-left">
            <button type="button" id="sidebarCollapse" class="toggle-btn btn ">
                <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="menu-svg" transform="translate(-120.000000, -26.000000)" fill="#333333">
                            <g id="Top">
                                <path d="M145,26 L145,28 L120,28 L120,26 L145,26 Z M145,42 L145,44 L120,44 L120,42 L145,42 Z M145,34 L145,36 L120,36 L120,34 L145,34 Z" id="Menu-Burger-Icon"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </button>
        </div>

        <!-- Logo -->
        <div class="navbar-center">
            <a href="{% url 'lector-app:index' %}"><p class="logo navbar-logo">LECTOR</p></a>
        </div>

        <!-- Sign up / Login Nav -->
        <div class="navbar-right">
            {% if not user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'lector-app:signup' %}" class="signup-btn btn-dark" role="button">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'lector-app:login' %}" class="login-btn btn-dark" role="button">Login</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <p id="login-status">Logged in as <b>{{ user.username }}</b></p>
                </li>
                <li class="nav-item">
                    <a href="{% url 'lector-app:logout' %}" class="signup-btn btn-dark" role="button">Log out</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>