{% extends 'lector-app/base.html' %}

{% block title %} 
    My Details 
{% endblock %}

{% block content %} 
<!-- Main Content Box -->
<div class="container-fluid ">
				
    <!-- Book Title Header  -->
    <div class="row bg-white align-items-center justify-content-start book-search-header">
        <div class="col-12 d-flex align-items-center">
            <h2>My Profile</h2>
        </div>
    </div>

    <!-- User Uploaded Books --> 
    <div class="row justify-content-center search-searchitem">
        <div class="col-lg-7 col-sm-10 col-12 search-searchitem-box-content blue-bg">
            <i style="font-size: 3em; margin-bottom: 0.4em;" class="fas fa-user"></i>
            <h4>{{ user_profile.user }}</h4>
            <p>{{ user_profile.user.email }}</p>
            <p>{{ user_profile.voice_type }} Voice Type</p>
            <p>{{ uploads }} Book Uploads</p>
            <p>{{ library }} Books In Library</p>
        </div>
    </div>
</div>

{% endblock%}
{% block javascript %}
{% endblock %}