{% extends 'lector-app/base.html' %}

{% block title %} 
    Lector 
{% endblock %}

{% block content %} 
    <!-- Main Content Box -->
    <div class="showcase">
        <div class="index-showcase">
            <h1 class="flex showcase-title">Find your muse.</h1>
            <h2 class="flex showcase-sub-title">Search through thousands of audio books</h2>
            <form class="sidebar-search-form form-inline">
                <input class="index-search-bar" type="search" placeholder="" aria-label="Search">
                <button class="index-search-bar-btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>

    </div>
{% endblock%}