{% extends 'lector-app/base.html' %}

{% block title %} 
    Lector 
{% endblock %}

{% block content %} 
<!-- Main Content Box -->
<div class="container-fluid">
				
    <!-- Book Title Header  -->
    <div class="row align-items-center justify-content-start book-search-header">
        <div class="col-12">
            <h2>My Library</h2>
        </div>
    </div>

    <!-- User Uploaded Books --> 
    {% if not library %}
    <div class="row justify-content-center search-searchitem">
        <div class=" text-center col-lg-7 col-sm-10 col-12 search-searchitem-box-content blue-bg">
            <h4> There are no books in your library </h4>
        </div>
    </div>
    {% endif %}
    {% for recording in library %}
    <div id="{{ recording.pk }}" class="row justify-content-center search-searchitem">
        <div class="col-lg-7 col-sm-10 col-12 search-searchitem-box-content blue-bg">
            <h4>{{ recording.book.title }}</h4>
            <p>by {{ recording.book.author.first_name }}  {{ recording.book.author.last_name }}</p>
            <p>{{ recording.user.user }}</p>
            <p>{{ recording.duration }} minutes</p>
            <div class="row justify-content-end">
                <div class="col-lg-1 col-2">
                    <button id="remove" data-id="{{ recording.pk }}" class="mr-1 float-right blue-btn"><i class="fas fa-times"></i></button>
                </div>
                <div class="col-lg-1 col-2">
                    <a href="{% url 'lector-app:audio_player' recording.pk %}" role="button" class=" float-right blue-btn"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}

{% block javascript %}
<script>
    $('button#remove').click(function(event){
        var data = {};
        data['recording_id'] = $(this).attr("data-id");
        data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
        var button = this;
        $.ajax({
            url: '{% url "lector-app:remove_library" %}',
            type: "POST",
            data: data,
            cache: false,
            success: (json) => {
                if (json['status'] == "success") {
                    $('#' + $(this).attr("data-id")).remove();
                } else {
                    alert("Oops... Something has gone wrong. Please try again later.");
                }
            },
            error: function() {
                alert("Oops... Something has gone wrong. Please try again later.");
            }

        });
    });
</script>
{% endblock %}