{% extends 'lector-app/base.html' %}

{% block title %} 
    Lector 
{% endblock %}

{% block content %} 
<!-- Main Content Box -->
<div class="container-fluid">
				
    <!-- Book Title Header  -->
    <div class="row align-items-center justify-content-start book-search-header">
        <div class="col-12">
            <h2>My Library</h2>
        </div>
    </div>

    <!-- User Uploaded Books --> 
    {% if not library %}
    <div class="row justify-content-center search-searchitem">
        <div class=" text-center col-lg-7 col-sm-10 col-12 search-searchitem-box-content blue-bg">
            <h4> There are no books in your library </h4>
        </div>
    </div>
    {% endif %}
    {% for recording in library %}
    <div class="row justify-content-center search-searchitem">
        <div class="col-lg-7 col-sm-10 col-12 search-searchitem-box-content blue-bg">
            <h4>{{ recording.book.title }}</h4>
            <p>by {{ recording.book.author.first_name }}  {{ recording.book.author.last_name }}</p>
            <p>{{ recording.user.user }}</p>
            <div class="rating">
                <i value=1 id="rating_1" class="far fa-star"></i><i value=2 id="rating_1" class="far fa-star"></i><i value=3 id="rating_1" class="far fa-star"></i><i value=4 id="rating_1" class="far fa-star"></i><i value=5 id="rating_1" class="far fa-star"></i>
            </div>
            <p>{{ recording.duration }} minutes</p>
            <div class="row justify-content-end">
                <div class="col-lg-1 col-2">
                    <button class="mr-1 float-right blue-btn"><i class="fas fa-times"></i></button>
                </div>
                <div class="col-lg-1 col-2">
                    <button class="float-right blue-btn"><i class="fas fa-play"></i></button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}