{% extends 'lector-app/base.html' %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
    <!-- Main Content Box -->
    <div class="showcase">
        <div class="d-flex flex-column signup-showcase">
            <h1 class="blue-font showcase-title">Sign Up.</h1>
            <h2 class="showcase-sub-title">Please enter your details below</h2>
            <form action="{% url 'lector-app:signup' %}" method="post"
                  class="login-form django-form align-self-center" id="signup-form">
                {% csrf_token %}
                <table>
                    {{ user_form }}
                    {{ profile_form }}
                </table>
                <button type="submit" class="login-form-submit btn">Sign Up</button>
            </form>
        </div>
    </div>

</div>
{% endblock%}
