{% extends 'lector-app/base.html' %}

{% block title %}
    Uploads
{% endblock %}

{% block content %}
    <!-- Main Content Box -->
    <div class="container-fluid">

        <!-- Book Title Header  -->
        <div class="row align-items-center justify-content-start book-search-header">
            <div class="col-12 d-flex align-items-center">
                <h2>My Uploads</h2>
                <button data-toggle="modal" data-target="#myModal" class="blue-bg uploads-btn">
                    Upload
                </button>
            </div>
        </div>

        <!-- User Uploaded Books -->
        {% if not recordings %}
            <div id="empty-box" class="row justify-content-center search-searchitem">
                <div class=" text-center col-lg-7 col-sm-10 col-12 search-searchitem-box-content blue-bg">
                    <h4> You haven't uploaded any books </h4>
                </div>
            </div>
        {% endif %}
        {% for recording in recordings %}
            <div id="{{ recording.pk }}" class="row justify-content-center search-searchitem">
                <div class="col-lg-7 col-sm-10 col-12 search-searchitem-box-content blue-bg">
                    <h4>{{ recording.book.title }}</h4>
                    <p>
                        by {{ recording.book.author.first_name }} {{ recording.book.author.last_name }}</p>
                    <p>{{ recording.duration }}</p>
                    <div class="row justify-content-end">
                        <div class="col-lg-1 col-2">
                            <button id="remove" data-id="{{ recording.pk }}"
                                    class="mr-1 float-right blue-btn"><i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="col-lg-1 col-2">
                            <a href='{% url "lector-app:audio_player" recording.pk %}' role="button"
                               id="play" data-id="{{ recording.pk }}"
                               class="float-right blue-btn"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Exciting! Ready to share?</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="validate">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">Book Title</label>
                            <input id="title" name="title" type="text" class="form-control"
                                   aria-describedby="emailHelp" placeholder="Book Title">
                            <div id="title_empty" class="invalid-feedback text-left">Enter a
                                book title
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="author">Author</label>
                            <input id="author" name="author" type="text" class="form-control"
                                   placeholder="Author">
                            <div id="author_empty" class="invalid-feedback text-left">Enter
                                an author
                            </div>
                            <div id="author_invalid" class="invalid-feedback text-left">
                                Enter a valid name
                            </div>
                        </div>
                        <div class="custom-file">
                            <input id="file" name="recording" type="file" class="file form-control">
                            <label class="custom-file-label" for="file">Choose Recording (.mp3)</label>
                            <div id="file_invalid" class="invalid-feedback text-left">
                                Invalid file
                            </div>
                            <audio id="audio"></audio>
                        </div>
                        <button type="submit" class="justify-self-right blue-bg upload-btn">Upload
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>

        $('#file').on('change',function(){
            var fullpath = $(this).val();    
            var filename = fullpath.replace(/^.*[\\\/]/, '');
            $(this).next('.custom-file-label').html(filename);
        })

        $('button#remove').click(function (event) {
            console.log($(this).attr("data-id"));
            const data = {};
            data['recording_id'] = $(this).attr("data-id");
            data['csrfmiddlewaretoken'] = '{{ csrf_token }}';
            $.ajax({
                url: '{% url "lector-app:remove_recording" %}',
                type: "POST",
                data: data,
                cache: false,
                success: function (json) {
                    if (json['status'] === "success") {
                        $('#' + data['recording_id']).remove()
                    } else {
                        alert("Oops... Something has gone wrong. Please try again later.");
                    }
                },
                error: function () {
                    alert("Oops... Something has gone wrong. Please try again later.");
                }

            });
        });


        $('form#validate').submit(function (event) {
            event.preventDefault();
            const target = document.getElementById("file");
            const file = target.files[0];
            const uploadData = new FormData();
            uploadData.append('title', $('#title').val());
            uploadData.append('author', $('#author').val());
            uploadData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            if (file === undefined) {
                uploadData.append('file', false);
            } else if (!(file.type === "audio/mpeg" || file.type === "audio/mp3")) {
                uploadData.append('file', false);
            } else {
                uploadData.append('file', true);
            }
            verifyData(uploadData)
        });


        function readFile() {
            const target = document.getElementById("file");
            const file = target.files[0];
            const fileType = file.type;
            console.log(fileType);
            if (target.files && file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const audio = document.getElementById("audio");
                    audio.src = e.target.result;
                    audio.addEventListener('loadedmetadata', function () {
                        // Duration in seconds
                        const duration = audio.duration;
                        const uploadData = new FormData();
                        uploadData.append('title', $('#title').val());
                        uploadData.append('author', $('#author').val());
                        uploadData.append('duration', duration);
                        uploadData.append('file', file);
                        uploadData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                        sendData(uploadData);
                    }, false);
                };

                reader.readAsDataURL(file);
            }
        }

        function verifyData(formData) {
            $.ajax({
                url: '{% url "lector-app:validate_upload_form" %}',
                type: "POST",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (json) {
                    console.log(json);
                    if (json['success'] === false) {
                        const firstError = document.getElementById(json['errors'][0]);
                        setTimeout(() => {
                            firstError.scrollIntoView({block: "center"});
                        });
                        $('input.form-control').removeClass("is-invalid");
                        $('.invalid-feedback').hide();
                        const len = json['errors'].length;
                        for (let i = 0; i < len; i++) {
                            const error = json['errors'][i];
                            const inputElement = error.split('_')[0];
                            $('#' + error).show();
                            $('#' + inputElement).addClass("is-invalid");
                        }
                    } else if (json['success'] === true) {
                        readFile();

                    }
                },
                error: function () {
                    alert("Oops... Something has gone wrong. Please try again later.");
                }

            });
        }

        function sendData(formData) {
            $.ajax({
                url: '{% url "lector-app:validate_upload" %}',
                type: "POST",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (json) {
                    window.location.replace('{% url "lector-app:uploads" %}');
                },
                error: function () {
                    alert("Oops... Something has gone wrong. Please try again later.");
                }

            });
        }


    </script>
{% endblock %}